body {
  background-color: #f4f4f4; 
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 50px 20px;
}

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 30px; 
  width: 100%;
  max-width: 1200px; 
}
@media (min-width: 768px) {
  .parent {
    grid-template-columns: repeat(2, 1fr);
    padding: 30px;
  }
}

/* 3. Desktop (3 columns) */
@media (min-width: 1024px) {
  .parent {
    grid-template-columns: repeat(3, 1fr);
    padding: 40px;
  }
}

.card {
  background: #fff;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
  transition: transform 0.3s ease;
  margin-bottom: 20px;
}

.card:hover {
  transform: translateY(-10px);
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #e5e5e5;
  padding: 6px;
}

.top button {
  background: #000;
  color: #fff;
  border: none;
  padding: 6px 16px;
  border-radius: 999px;
  cursor: pointer;
  font-size: 14px;
}

.center h3 {
  margin-top: 20px;
  font-size: 22px;
}

.center span {
  font-size: 14px;
  color: grey;
}

.center h2 {
  margin: 10px 0;
  font-size: 26px;
}

.type {
  display: flex;
  gap: 10px;
}

.type .first,
.type .second {
  background: #f2f2f2;
  padding: 4px 12px;
  border-radius: 6px;
  font-size: 14px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding-top: 16px;
  border-top: 1px solid #aaa;
}

.type2 {
  display: flex;
  align-items: center;
  gap: 140px;
}