body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-size: 24px;
  margin: 20px;
}
input {
  font-size: 24px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}