*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Arial', sans-serif;
    background-color: #021024;

}
.top{
    padding: 50px;
}
.container{
    width: 350px;
    height: 600px;
    padding: 10px;
    margin: 0 auto;
    padding: 20px;
    background-color: #052659;
    border-radius: 50px;

}
.container h2{
    color: white;
    padding: 20px 0px 0px 20px;
    
}