* {
  margin : 0;
  padding : 0;
  box-sizing : border-box;
  font-famaily :  helvetica;
  color : #ffff;
  font-weight : bold;
  font-size : 100px;
}
html,body,#root {
  height : 100%;
  background-color : #121212;
}
