body{
  font-family: Arial, sans-serif;
  background-color: #111;
  margin: 0;
  padding: 20px;
  color: #eee;
}
button {
  cursor: pointer;
  margin: 5px;
  padding: 10px 15px;
  background-color: #333;
  color: #eee;
  border: none;
  border-radius: 10px;
  font-size: 20px;
}
h1{
  font-size: 40px;
  margin-bottom: 20px;
}
.first{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  background-color: #222;
  position: relative;
  padding: 10px 20px;
  border-radius: 10px;
}
.second{
  margin-top: 20px;
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 20px;
  color: #0f0;
  background-color: #222;
  padding: 10px 20px;
  border-radius: 10px;
  position: relative;
}
.container{
  max-width: 600px;
  margin: auto;
}
.container h1{
  text-align: center;
}